html, body {
    font-family: 'poppins', cursive, sans-serif;
    background-color: #ffecf0; 
    text-align: center;
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

h1 {
    text-align: center;
    color: #ff6363;
    font-size: 24px;
}

h2 {
    color: #ff6f61;
    font-size: 20px;
    justify-content: left;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
    margin-bottom: 15px;
    background: #fff3cd; 
    padding: 20px;
    border-radius: 15px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
    border: 3px solid #ffacb7;
}

#dataForm {
    width: 100%; 
    max-width: 100%; 
    margin: auto; 
    padding: 10px; 
    border-radius: 10px;
}

select, textarea {
    width: 90%; 
    max-width: 900px;
    padding: 8px;
    margin: 8px 0;
    margin-top: 5px;
    border: 2px solid #ffacb7;
    border-radius: 10px;
    font-size: 16px;
}

input, select {
    width: 90%; 
    max-width: 900px;
    padding: 8px;
    box-sizing: border-box; 
    margin: 8px 0;
    margin-top: 5px;
    border: 2px solid #ffacb7;
    border-radius: 10px;
    font-size: 16px;
}

button {
    background-color: #ff6f61;
    color: white;
    font-size: 16px;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #ff3f3f;
}
.table-container {
    margin-top: 20px;
    overflow-x: auto;
}

table {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
}

th, td {
    padding: 12px;
    border: 1px solid #ffacb7;
    text-align: center;
}

th {
    background-color: #ff6f61;
    color: white;
}

input[type="radio"] {
    margin-right: 5px;
}

.radio-group {
    display: flex;
    align-items: center;
    gap: 15px; 
}
  
  .radio-group label {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
.delete-btn {
    background-color: #ff3f3f;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #f0738e;
}

.edit-btn {
    background-color: #ffac33;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    z-index: 1000;
}
